@page "{AssessmentId}"

@model Positivity.Pages.Case.Assessments.UpdateComprehensiveAssessmentModel

@{ViewData["Title"] = "Update";}

@section SideMenu {@{ await Html.RenderPartialAsync("Common/_CaseMenuPartial", new MenuModel { Identifier = "Assessments", CaseId = Model.ComprehensiveAssessmentData.CaseIntakeId }); }}

@await Component.InvokeAsync("CaseInfoHeader", new { caseIntakeId = Model.ComprehensiveAssessmentData.CaseIntakeId })

@Html.Partial("Common/_PageTitlePartial", "Edit Comprehensive Assessment")

<form method="post">

    @Html.Partial("_ComprehensiveAssessmentPartial", Model.ComprehensiveAssessmentData)

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <span>Recorded By: </span> <label>@Model.ComprehensiveAssessmentData.RecordedBy </label>
                    <span>Recorded On: </span> <label>@Model.ComprehensiveAssessmentData.RecordedOn.ToShortDateString()</label>
                </div>
                <div class="col-md-4 text-right">
                    <input type="submit" value="Update" class="btn btn-blueTwo" />
                    <a href="@Navigator.ComprehensiveAssessmentList/@Model.ComprehensiveAssessmentData.CaseIntakeId" class="btn btn-sliverOne">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>